<launch>

  <arg name="open_rviz" default="true"/>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find particle_filter_project)/map/house_map.yaml"/>

  <!-- Run a transformation between the map and odom frames -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="-2.75 1.0 0 0 0 0 /map /odom 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 /map /odom 100" />


  <!-- Run a transformation between the robot and its laser -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-0.1524 0.0 0.1016 0 0 0 /base_footprint /base_scan 100" /> -->

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find particle_filter_project)/rviz/particle_filter_project_v2.rviz"/>
  </group>

</launch>